p { 
    color: rgb(25, 3, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3 {
    color: rgb(25, 3, 3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: rgb(50, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
Title {
    text-align: center;
}
body {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    background-color: rgba(173, 54, 54, 0.85);
}
#ProfilePictureTD {
    float: right;
    border: 5px solid rgb(161, 38, 0);
}
#id_left_pane {
    width: 50%;
    float: left;
}
#id_right_pane {
    width: 50%;
    float: right;
}
.RightTable {
    margin: 0;
    margin-right: 0px;
    list-style-type: none;
}
.RightTable li{
    display: block;
    padding: 2px 5px;
}
.LeftTable{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.LeftTable li{
    display: block;
    padding: 2px 5px;
}
div.SecondDiv {
    border: 3px;
    margin: 20px;
    text-align: center;
}
table.ListTable {
    text-align: center;
}
#id_page_text_body {
    border: 5px solid rgb(161, 38, 0);
    padding: 5px;
    border-radius: 25px;
    background-color: rgb(202, 178, 127);
    text-align: center;
}
.FirstDiv {
    width: 100%;
    border: 0px;
    margin: 0px;
    height: 0px;
    /* background-image: url("Image1.jpg"); */
    background-position: top top;
    background-repeat: no-repeat;
}
button.NavButton {
    box-shadow: rgb(207, 134, 108) 0px 1px 0px 0px inset; 
    background: linear-gradient(rgb(208, 69, 27) 5%, rgb(188, 51, 21) 100%) rgb(208, 69, 27); 
    border-radius: 3px; 
    border: 1px solid rgb(148, 41, 17); 
    display: inline-block; 
    cursor: pointer; 
    color: rgb(255, 255, 255); 
    font-family: Arial; 
    font-size: 13px; 
    padding: 6px 24px; 
    text-decoration: none; 
    text-shadow: rgb(133, 70, 41) 0px 1px 0px;
}